
  #container {
    position: relative;
  }
  
  video, canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    -border: 1px solid red;
  }
  video {
    height: 100%;
    position: absolute;
  }
  body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  /*
  ::cue {
    color:#ff0000;
    background:transparent;
  }*/

  .bs-example{
  	margin: 5px;
  }

