

		    <li class="expanded-shelf-content-item-wrapper">
    <div class="yt-lockup clearfix expanded-shelf-content-item yt-lockup-video yt-lockup-tile fluid" data-context-item-id="mqb6tfDC65Q" data-visibility-tracking="CCYQ3DAYACITCKyco661usECFYZ5WAodlREA-UCU14uG39a-05oB">
      <div class="yt-lockup-dismissable">
          <div class="yt-lockup-thumbnail">


	    <a href="/watch?v=mqb6tfDC65Q" class="ux-thumb-wrap yt-uix-sessionlink yt-fluid-thumb-link contains-addto  spf-link" data-sessionlink="ved=CPECEMAb&amp;ei=l5JEVOx0hvPhApWjgMgP&amp;feature=g-high">   
	      <span class="video-thumb  yt-thumb yt-thumb-196 yt-thumb-fluid">
		<span class="yt-thumb-default">
		  <span class="yt-thumb-clip">
		    <img aria-hidden="true" src="/res/home/cabin.png" alt="" width="196">
		    <span class="vertical-align"></span>
		  </span>
		</span>
	      </span>
	      <span class="video-time">19:05</span>
	    </a>
  </div>
  <div class="yt-lockup-content">
        <h3 class="yt-lockup-title"><a class="yt-uix-sessionlink yt-uix-tile-link  spf-link  yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="넌 얼마나 알고있니? 마크 지식을 이용한 탈출맵 택틱스 1편 - 마인크래프트 Minecraft [양띵TV삼성]" data-sessionlink="ved=CPACEL8b&amp;ei=l5JEVOx0hvPhApWjgMgP&amp;feature=g-high" href="/res/home/cabin.png">넌 얼마나 알고있니? 마크 지식을 이용한 탈출맵 택틱스 1편 - 마인크래프트 Minecraft [양띵TV삼성]</a></h3>

  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
<li>
게시자: <a href="/channel/UCMOOio1GZ50OeJT58DGBQCA" class="g-hovercard yt-uix-sessionlink yt-user-name  spf-link " data-sessionlink="ved=CPICEMEb&amp;ei=l5JEVOx0hvPhApWjgMgP&amp;feature=g-high" dir="ltr" data-ytid="UCMOOio1GZ50OeJT58DGBQCA" data-name="g-high">양띵TV삼성</a> <span data-tooltip-text="인증됨" aria-label="인증됨" class="yt-channel-title-icon-verified yt-uix-tooltip yt-sprite"></span></li><li>3일 전</li><li>조회수 50,764회</li>    </ul>
  </div>
      <div class="yt-lockup-description yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr">
        지금까지 마인크래프트를 하면서 자연스레 알게 된 <br>마인크래프트 속 소소한 지식들! 그 지식들을 이용해야만 깰 수 <br>있는 탈출맵이 떴다! 넌 얼마나 알고있니?<br><br>구독하기 링크 : <a href="http://www.youtube.com/user/3castle1?sub_confirmation=1" target="_blank" title="http://www.youtube.com/user/3castle1?sub_confirmation=1" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/user/3castle1?sub_confirmation=1</a><br><br>Map downloda : <a href="http://www.minecraftforum" target="_blank" title="http://www.minecraftforum" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.minecraftforum</a>....
    </div>
  </div>

      </div>
      <div class="yt-lockup-notifications-container"></div>
    
  </div>

</li>
