<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 

<html ng-app="todos"> <!--<![endif]-->

  <!-- BEGIN HEAD-->
  <head>
    
    <meta charset="utf-8" />
    <title>Wakeup English</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/theme.css" />
    <link rel="stylesheet" href="../assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="../assets/plugins/Font-Awesome/css/font-awesome.css" />
    
    <script src="../assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-sanitize.min.js"></script>
    <script src="../scripts/ui-bootstrap.min.js"></script>
    
    <!-- 개인적인 모듈 -->
    <link rel="stylesheet" type="text/css" href="../videoquiz/videoquiz2.css">
    <script src="../videoquiz/videoquiz2.js"></script>

    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- END  HEAD-->
  <!-- BEGIN BODY-->
  <body class="padTop53" ng-controller="todoCtrl">

    <!-- MAIN WRAPPER -->
    <div id="wrap">
      <!-- HEADER SECTION -->
      <div id="top">

        <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 2px; min-height: 20px;">
          <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle" ng-click="updateMap()">
            <i class="icon-align-justify"></i>
          </a>
          <!-- LOGO SECTION -->
          <header class="navbar-header">
            <a href="http://wakeupeng.com" class="navbar-brand">
              <img src="/assets/img/logo.png" alt="" /></a>
          </header>
        </nav>
      </div>

      <div ng-include="'/share_html/left.html'"></div>

      <!--PAGE CONTENT -->
      <div id="content">
        <div class="inner inner2">

	  <div class="fixed" ng-show='!is_menu_clicked'>

            <div class="panel2 panel-primary">
              <div class="panel-heading">
		{{title}}
              </div>
              <div id="container">
		<canvas width="1600" height="900"></canvas>
		<video controls width="1600" height="900" preload="auto" poster="{{poster_src}}">
		  <source ng-src="{{video_src}}"  type="video/mp4">

		  <track ng-src="{{video_sub_src}}" kind="subtitles" srclang="en" label="English" default>

		</video>
              </div>
	    </div>

	  </div>



	  <div class="scroll22">
	    <div class="bs-example">

	      <div class="panel panel-primary" ng-show='!is_menu_clicked'>
<!-- 
                <div class="panel-heading">
		  {{title}}
                </div>
		-->
                <div id="container">
		  <canvas width="1600" height="900"></canvas>
		  <div controls width="1600" height="900">        
		  </div>
                </div>
	      </div>
	      
	      <div class="between-space"></div>
	      <br>
              <accordion close-others="oneAtATime">
                <accordion-group class="panel-success" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">                  
		  <accordion-heading >
                    1. Quiz <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
		  </accordion-heading>
		  <div>
                    <table style="width:100%">
                      <tr ng-repeat="question in questions">
                        <td>
			  <iquestion text="{{question}}"></iquestion>
                        </td>
                      </tr>
                      
                    </table> </div>
		  <iscorecard></iscorecard>
                </accordion-group>

                <accordion-group class="panel-success"  is-open="status.open" >
		  <accordion-heading >
                    2. Word <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		  </accordion-heading>
		  <accordion>
                    <accordion-group ng-repeat="word in words" class="panel-warning"  is-open="status2.open" >
                      <accordion-heading >
                        {{$index+1}}. {{word.title}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status2.open, 'glyphicon-chevron-right': !status2.open}"></i>
                      </accordion-heading>
                      <li class="list-group-item"  ng-repeat="tmp in word.contents">
                        <p> 뜻:&nbsp {{tmp.meaning}} <img ng-src="{{tmp.img_path}}" alt="Tomato" height="75" width="75" align="right"></p>
                        <p> 복수:&nbsp {{tmp.plura}}</p>
                        <p> 예제:&nbsp{{tmp.example}}</p>
                        <p> 번역:&nbsp{{tmp.example_kor}}</p>
                        <audio controls>
			  <source ng-src="{{tmp.audio_path}}" type="audio/mpeg">
                        </audio>
                      </li>
                    </accordion-group>
		  </accordion>                                            
                </accordion-group>
                <!-- 문법 -->
                <accordion-group heading="3. Grammar" class="panel-success" ng-show="false" >
		  <div dynamic="html"></div>  
                </accordion-group>
              </accordion>
            </div>
	  </div> 

	  <div>
	    <site-header back="back" forward="forward"></site-header>
	  </div>

        </div> <!-- end of inner -->
      </div>  <!-- end of content -->
    </div>

    <!--END MAIN WRAPPER -->

    <!-- FOOTER -->
    <div id="footer">
      <p>&copy;  binarytheme &nbsp;2014 &nbsp;</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    
    
    
    
    <!-- END GLOBAL SCRIPTS -->
  </body>
  <!-- END BODY-->

</html>
